<ng-container *ngIf="!loggedUser; else logged">
  <!-- Old -->
  <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        Username:
        <input id="username" type="text" [(ngModel)]="username" />
      </li>
      <li class="nav-item">
        Password:
        <input
          id="password"
          type="password"
          [(ngModel)]="password"
          (keydown.enter)="login()"
        />
      </li>
      <li class="nav-item">
        <button id="loginButton" class="btn btn-primary" (click)="login()">
          Login
        </button>
        <button id="registerButton" class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterForm" (click)="form0()">
          Create Account
        </button>

      </li>
    </ul> -->

  <div class="body-inner">
    <!-- Section -->
    <section class="fullscreen" data-bg-parallax="assets/images/students_bg.jpg">
      <div class="container">
        <div>
          <div class="text-center m-b-30">
            <a href="index.html" class="logo">
              <!-- <img src="#" alt="Logo"> -->
            </a>
          </div>
          <div class="row">
            <div class="col-lg-5 center p-50  b-r-6" style="background-color: rgba(255,255,255, 0.6);">
              <h3>Login to your Account</h3>
              <form>
                <div class="form-group">
                  <label class="sr-only">Username</label>
                  <input type="text" class="form-control" placeholder="Username" id="username" type="text"
                    [(ngModel)]="username" name="username">
                </div>
                <div class="form-group m-b-5">
                  <label class="sr-only">Password</label>
                  <input type="password" class="form-control" placeholder="Password" id="password" type="password"
                    [(ngModel)]="password" name="password" (keydown.enter)="login()">
                </div>
                <div class="form-group form-inline text-left">
                </div>
                <div class="text-left form-group">
                  <button type="button" class="btn" (click)="login()">Login</button>
                </div>
              </form>
              <p class="small">Don't have an account yet? <br /><a href="#" data-toggle="modal"
                  data-target="#modalRegisterForm" (click)="form0()">Register New Account</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end: Section -->
  </div>
</ng-container>

<ng-template #logged>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <div>
        <span id="welcome">Welcome!
          {{
              loggedUser.username
            }}</span>
      </div>
    </li>
    <li class="nav-item">
      <button id="logoutButton" class="btn btn-danger" (click)="logout()">Logout</button>
    </li>
  </ul>

</ng-template>

<!-- modal -->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="#myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
      </div>

      <div class="modal-body">
        <!--Wizard 7-->
        <form id="wizard7" class="needs-validation" *ngIf="formview0" data-style="1" novalidate>
          <!--Step 1-->
          <h3>Account Information</h3>
          <div class="wizard-content">
            <div class="h5 mb-4">Please fill with your account details</div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" [(ngModel)]="user.firstname" name="firstname"
                  placeholder="Enter First name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" [(ngModel)]="user.lastname" name="lastname"
                  placeholder="Enter your Lastname" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" [(ngModel)]="user.username" name="username"
                  placeholder="Enter username" required>
              </div>
              <div class="form-group col-md-6">
                <label for="email">Email address</label>
                <input type="email" class="form-control" [(ngModel)]="user.email" name="email"
                  placeholder="Enter your email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="password">Password</label>
                <div class="input-group show-hide-password">
                  <input class="form-control" [(ngModel)]="user.password" name="password" placeholder="Enter password"
                    type="password">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="icon-eye-off" aria-hidden="true"
                        style="cursor: pointer;"></i></span>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="password2">Confirm Password</label>
                <div class="input-group show-hide-password">
                  <input class="form-control" name="password2" placeholder="Enter password" type="password">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="icon-eye-off" aria-hidden="true"
                        style="cursor: pointer;"></i></span>
                  </div>
                </div>

              </div>

              <div class="form-row text-center">
                <div class="form-group col-md-6">
                  <label for="gender">Date of Birth</label>
                  <input class="form-control" type="date" [(ngModel)]="user.dob" name="dateofbirth">
                </div>
                <div class="form-group col-md-6">
                  <label for="gender">Gender</label>
                  <select class="form-control" [(ngModel)]="user.gender" name="gender">
                    <option>Select your gender</option>
                    <option>Female</option>
                    <option>Male</option>
                    <option>Rather not say</option>
                  </select>
                </div>
              </div>
            </div>
            <!--end: Step 1-->
            <!--Step 2-->
          </div>
        </form>

        <!--Wizard 7-->
        <form id="wizard7" class="needs-validation" *ngIf="formview1" data-style="1" novalidate>
          <h3>School Information</h3>
          <div class="wizard-content">
            <div class="h5 mb-4">Please fill with information about your school</div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="educationLevel">Education Level</label>
                <select class="form-control" [(ngModel)]="user.level" name="educationLevel">
                  <option>Graduate School</option>
                  <option>Undergraduate</option>
                  <option>High School</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="schoolName">School Name</label>
                <input type="text" class="form-control" [(ngModel)]="user.school_name" name="schoolName" placeholder="Enter the name of your school">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="schoolCity">School City</label>
                <input type="text" class="form-control" [(ngModel)]="user.school_city" name="schoolCity" placeholder="Enter your School City">
              </div>
              <div class="form-group col-md-6">
                <label for="schoolState">School State</label>
                <input type="text" class="form-control" [(ngModel)]="user.school_state" name="schoolState"
                  placeholder="What state is your school in? (GA, TX)">
              </div>
            </div>
          </div>
        </form>


        <!--classss-->
        <form id="wizard7" class="needs-validation" *ngIf="formview2" data-style="1" novalidate>
          <h3>Add class</h3>
          <div class="wizard-content">
            <div class="h5 mb-4">Please fill with information about your class</div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="classTitle">Title</label>
                <input type="text" class="form-control" [(ngModel)]="class.title" name="classTitle" placeholder="Enter the name of your class">
              </div>
              <div class="form-group col-md-6">
                <label for="classInstructor">Instructor</label>
                <input type="text" class="form-control" [(ngModel)]="class.instructor" name="classInstructor"
                  placeholder="Last name of your Teacher/Instructor">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="classStart">Start Time</label>
                <input type="time" class="form-control" [(ngModel)]="class.start" name="classStart" placeholder="What time does your class start?">
              </div>
              <div class="form-group col-md-6">
                <label for="classDays">Class Days</label>
                <input type="date" class="form-control" [(ngModel)]="class.days" name="classDays" placeholder="Comma seperated days">
              </div>
            </div>


          </div>
        </form>

        <div class="modal-footer d-flex justify-content-center" *ngIf="formview0">
          <button class="btn btn-deep-orange" (click)="form1()">Next</button>
        </div>
        <div class="modal-footer d-flex justify-content-center" *ngIf="formview1">
          <button class="btn btn-deep-orange" (click)="form2()">Enter classs</button>
        </div>
        <div class="modal-footer d-flex justify-content-center" *ngIf="formview2">
          <button class="btn btn-deep-orange" (click)="addClass()">Add class</button>
          <button class="btn btn-deep-orange" (click)="register()">Finish</button>
        </div>


      </div>

    </div>

  </div>
</div>

