<ng-container *ngIf="!loggedUser; else logged">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        Username:
        <input id="username" type="text" [(ngModel)]="username" />
      </li>
      <li class="nav-item">
        Password:
        <input
          id="password"
          type="password"
          [(ngModel)]="password"
          (keydown.enter)="login()"
        />
      </li>
      <li class="nav-item">
        <button id="loginButton" class="btn btn-primary" (click)="login()">
          Login
        </button>
        <button id="registerButton" class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterForm" (click)="form0()">
          Create Account
        </button>

      </li>
    </ul>
  
  </ng-container>

  <ng-template #logged>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div>
          <span id="welcome"
            >Welcome!
            {{
              loggedUser.username
            }}</span
          >
        </div>
      </li>
      <li class="nav-item">
        <button id="logoutButton" class="btn btn-danger" (click)="logout()">Logout</button>
      </li>
    </ul>

  </ng-template>

      <!-- modal -->
      <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="#myModalLabel"
      aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Join Today</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5" *ngIf="formview0">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="firstname" id="orangeForm-name" class="form-control validate" [(ngModel)]="user.firstname" placeholder="First Name">
                <!-- <label data-error="wrong" data-success="right" for="orangeForm-name">Firstname</label> -->
      
                <i class="fas fa-enveslope prefix grey-text"></i>
                <input type="lastname" id="orangeForm-email" class="form-control validate" [(ngModel)]="user.lastname" placeholder="Last Name">
                <!-- <label data-error="wrong" data-success="right" for="orangeForm-email">Lastname</label> -->
     
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="email" id="orangeForm-pass" class="form-control validate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="user.email" placeholder="Email">
                <!-- <label data-error="wrong" data-success="right" for="orangeForm-pass">Email</label> -->
              </div>

              <div class="md-form mb-5" *ngIf="formview1">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="firstname" id="orangeForm-name" class="form-control validate" [(ngModel)]="user.school" placeholder="School">
                <!-- <label data-error="wrong" data-success="right" for="orangeForm-name">Firstname</label> -->
      
                <i class="fas fa-enveslope prefix grey-text"></i>
                <input type="lastname" id="orangeForm-email" class="form-control validate dropdown" id="dropdownMenuButton" data-toggle="dropdown" [(ngModel)]="user.level" placeholder="Education level">
                <!-- <label data-error="wrong" data-success="right" for="orangeForm-email">Lastname</label> -->
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Graduate</a>
                  <a class="dropdown-item" href="#">Undergraduate</a>
                  <a class="dropdown-item" href="#">High School</a>
                </div>
           
              </div>
              <div class="md-form mb-5" *ngIf="formview2">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="firstname" id="orangeForm-name" class="form-control validate" [(ngModel)]="class.teacher" placeholder="Teacher">
                <!-- <label data-error="wrong" data-success="right" for="orangeForm-name">Firstname</label> -->
      
                <i class="fas fa-enveslope prefix grey-text"></i>
                <input type="lastname" id="orangeForm-email" class="form-control validate" [(ngModel)]="class.start" placeholder="Start Time">
                <!-- <label data-error="wrong" data-success="right" for="orangeForm-email">Lastname</label> -->
     
                <i class="fas fa-enveslope prefix grey-text"></i>
                <input type="lastname" id="orangeForm-email" class="form-control validate" [(ngModel)]="class.id" placeholder="Course ID">
                <!-- <label data-error="wrong" data-success="right" for="orangeForm-email">Lastname</label> -->

                <i class="fas fa-enveslope prefix grey-text"></i>
                <input type="lastname" id="orangeForm-email" class="form-control validate" [(ngModel)]="class.title" placeholder="Course Name">
                <!-- <label data-error="wrong" data-success="right" for="orangeForm-email">Lastname</label> -->

                
                <i class="fas fa-enveslope prefix grey-text"></i>
                <input type="lastname" id="orangeForm-email" class="form-control validate" [(ngModel)]="class.days" placeholder="Days">
                <!-- <label data-error="wrong" data-success="right" for="orangeForm-email">Lastname</label> -->
              </div>
      
            </div>
            <div class="modal-footer d-flex justify-content-center" *ngIf="formview0">
              <button class="btn btn-deep-orange" (click)="form1()">Next</button>
            </div>
            <div class="modal-footer d-flex justify-content-center" *ngIf="formview1">
              <button class="btn btn-deep-orange" (click)="form2()">Enter Courses</button>
            </div>
            <div class="modal-footer d-flex justify-content-center" *ngIf="formview2">
              <button class="btn btn-deep-orange" (click)="addCourse()">Add Course</button>
              <button class="btn btn-deep-orange" (click)="register()">Finish</button>

            </div>

          </div>
        </div>
    </div>
    
